


// Buttons
.btn {
  // width: 100%;
  padding: 14px 32px;
  line-height: 32px;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid transparent;
  &.is-full {
    width: 100%;
  }
  &-primary {
    font-size: 24px;
    color: $white;
    border-color: $primary;
    background-color: $primary;
    &:hover,
    &:focus,
    &.is-hover {
      border-color: $text;
      background-color: $text;
    }
  }
  &-secondary {
    font-size: 18px;
    color: $text;
    border-color: $secondary;
    background-color: $secondary;
    &:hover,
    &:focus,
    &.is-hover {
      border-color: $text;
      background-color: $white;
    }
  }
  &-default {
    color: $text;
    border-color: $gray;
    background-color: $white;
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
      // color: $text;
      // border-color: $text;
      background-color: $white;
    }
  }
  &-connected {
    color: $white;
    border-color: $connected;
    background-color: $connected;
  }
  &-focused {
    color: $white;
    border-color: $focused;
    background-color: $focused;
  }
  &-led {
    color: $white;
    border-color: $led;
    background-color: $led;
  }
  &-demonstrated {
    color: $white;
    border-color: $demonstrated;
    background-color: $demonstrated;
  }
}

// .open > .dropdown-toggle.btn-default {
//   color: $text;
//   background-color: $white;
//   border-color: $white;
// }



// Checkboxes
.btn-group {
  .btn:first-child {
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
  }
  .btn:last-child {
    width: 288px;
    text-align: left;
    font-size: 18px;
  }
  &-connected {
    .btn-default {
      border-color: $connected !important;
    }
  }
  &-focused {
    .btn-default {
      border-color: $focused !important;
    }
  }
  &-led {
    .btn-default {
      border-color: $led !important;
    }
  }
  &-demonstrated {
    .btn-default {
      border-color: $demonstrated !important;
    }
  }

}

.form-group input[type="checkbox"] {
    display: none;
    & + .btn-group > label span {
        width: 64px;
    }
    & + .btn-group > label img {
        margin-top: 5px;
        margin-left: 2px;
    }
    & + .btn-group > label span:first-child {
       display: none;
    }
    & + .btn-group > label span:last-child {
       display: inline-block;
    }
    &:checked {
      &  + .btn-group > label span:first-child {
         display: inline-block;
      }
      & + .btn-group > label span:last-child {
         display: none;
      }
    }
}





// Forms
.form-control {
  margin-bottom: 15px;
}
.form-control {
  height: 64px;
  line-height: 64px;
  background-color: transparent;
  border: 2px solid $grey;
  border-radius: 0px;
  font-family: 'Avenir Next';
  line-height: 42px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  // box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}





select.form-control {
  font-size: 18px;
  color: $text;
  background-color: $white ;
  border: 2px solid #E4E4E4;
  box-shadow: none;
}

// .form-control.btn-primary {
//   font-size: 24px;
//   border-color: #00B3E6;
//   background-color: #00B3E6;
//   box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
// }






// .form-group input[type="radio"] {
//     display: none;
// }
// .form-group input[type="radio"] + .btn-group > label span {
//     width: 20px;
// }
// .form-group input[type="radio"] + .btn-group > label span:first-child {
//     display: none;
// }
// .form-group input[type="radio"] + .btn-group > label span:last-child {
//     display: inline-block;
// }
// .form-group input[type="radio"]:checked + .btn-group > label span:first-child {
//     display: inline-block;
// }
// .form-group input[type="radio"]:checked + .btn-group > label span:last-child {
//     display: none;
// }





// Boxes
.box {
  padding: 42px 48px;
  .box-title {
    font-weight: bold;
    line-height: 32px;
    font-size: 20px;
    color: $white;
  }
  .box-line {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 64px;
    height: 8px;
    background: $white;
  }
  &.is {
    &-primary {
      background: $primary;
    }
    &-dark {
      background: $text;
    }
  }
}
