

// Admin Bar
body.admin-bar {
  margin-top: 72px;
  .navbar-fixed-top {
    top: 32px;
  }
}




// Header
.navbar {
  position: relative;
  height: 72px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FFFFFF;
  border-radius: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .container {
    width: 100%;
    padding: 0;
  }

  // Sticky
  &-fixed-top {
      position: fixed !important;
      right: 0;
      left: 0;
      top: 0;
      z-index: 1030;
      .navbar-collapse {
        max-height: 500px;
      }
  }

  // Header
  &-header {
    padding-left: 16px;
    padding-right: 16px;
  }

  // Logo
  &-brand {
    display: inline-block;
    white-space: nowrap;
    width: 113px;
    height: 43px;
    margin: -3px 0 0 4px !important;
    padding: 0;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3em;
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  // Toggle
  &-toggle {
    float: left;
    font-size: 1.0625rem;
    line-height: 1;
    padding: .25rem .75rem;
    border: 1px solid transparent;
    background-color: transparent;
    &:focus,
    &:hover {
        text-decoration: none
    }
    &:not(:disabled):not(.disabled) {
        cursor: pointer
    }
    .icon {
      &-group {
        display: inline-block;
        margin-right: 12px;
      }
      &-bar {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #008AE3;
      }
      &-bar + .icon-bar {
          margin-top: 2px;
      }
      &-text {
        font-family: 'Avenir Next';
        line-height: normal;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: #00B3E6;
      }
    }
  }

  // Collapse
  &-collapse {
    padding: 0 !important;

    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    background-color: #fff;
    overflow: visible;
  }

  // Navigation
  &-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    .menu-item a {
      font-family: 'Avenir Next';
      font-size: 14px;
      line-height: 32px;
      font-weight: bold;
      text-transform: none;
      white-space: nowrap;
    }

    & > .menu-item > a {
      padding: 20px 5px;
      border-bottom: 4px solid transparent;
    }

    & > .menu-item > .dropdown-menu {
      float: none;
      margin-top: 18px;
      padding: 25px 0;
      border-top: 0px solid transparent;
      min-width: 270px;
      text-align: center;
      border-radius: 0;
      background-color: #fff;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    }

    .open .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
      .menu-item {
        padding: 5px 0;
        & > a {
          display: inline-block;
          padding: 5px 5px;
          color: #00B3E6;
          font-size: 14px;
          line-height: 20px;
          font-weight: bold;
          text-align: center;
          text-transform: none;
          border-bottom: 2px solid transparent;
          &:hover,
          &:focus {
            color: #00B3E6;
            background-color: transparent;
            background-image: none;
            border-bottom: 2px solid rgba(0, 179, 230, 0.5);
          }
        }
      }
    }

  }

  // Menu Main
  &-main {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

    .menu-item {
      padding-left: 25px;
      padding-right: 25px;
    }

    & > .menu-item > a {
      padding: 0 5px;
      font-size: 15px;
      letter-spacing: 0.02em;
      white-space: nowrap;
      color: #00B3E6;
      &:hover,
      &:focus {
        color: #00B3E6;
        background-color: transparent;
        border-bottom: 4px solid rgba(0, 179, 230, 0.5);
      }
    }

    .open > a,
    .open > a:hover,
    .open > a:focus {
      color: #00B3E6;
      background-color: transparent;
      border-bottom: 4px solid rgba(0, 179, 230, 0.5);
    }

    .dropdown-menu {
      left: 50%;
      margin-left: -135px;
    }

  }

  // Menu More
  &-more {
    float: right;
    padding: 0 25px;
    border-left: 1px solid rgba(119, 119, 122, 0.2);

    & > .menu-item {
      padding-left: 25px;
      padding-right: 25px;
      & > a {
        padding-top: 0;
        padding-bottom: 0;
        color: #77777A;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.15em;
        white-space: nowrap;
        &:hover,
        &:focus {
          color: #77777A;
          background-color: transparent;
        }
      }
    }

    .dropdown-menu {
      left: auto;
      right: -25px;
    }

    .open > a,
    .open > a:hover,
    .open > a:focus {
      color: #00B3E6;
      background-color: transparent;
      border-bottom: 4px solid rgba(0, 179, 230, 0.5);
    }

  }

  // Menu Account
  &-account {
    float: right;

    & > .menu-item {
      padding-left: 25px;
      padding-right: 25px;
      & > a {
        padding-top: 0;
        padding-bottom: 0;
        color: #77777A;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.15em;
        white-space: nowrap;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
          color: #77777A;
          background-color: transparent;
        }
      }
    }

    .userpic {
      width: 42px;
      height: 42px;
      margin-right: 10px;
      border-radius: 21px;
      background-size: cover;
    }

    .username {

    }

  }

  // Menu Footer
  &-footer {
    flex-direction: column;

    .menu-item {
      float: none;
      text-align: left;
      a {
        padding: 0;
        font-family: 'Avenir Next';
        line-height: 28px;
        font-size: 15px;
        font-weight: normal;
        text-decoration-line: underline;
        color: #fff;
        &:hover {
          background-color: transparent;
          text-decoration: none;
          color: #fff;
        }
      }
      .caret {
        display: none;
      }
    }
  }

}





/* Site Footer */
.siteFooter {
  padding-bottom: 110px;
  color: #fff;
  background: #23313B;

  &-title {
    margin-top: 90px;
    margin-bottom: 50px;
    font-family: 'Avenir Next';
    line-height: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    span {
      display: block;
      width: 64px;
      height: 8px;
      margin: 40px auto 0 auto;
      background: #fff;
    }
  }

  &-subtitle {
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Avenir Next';
    font-size: 24px;
    font-weight: bold;
  }

  &-socials {
    margin-bottom: 60px;
    text-align: center;
    .social-icons {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      a {
        display: inline-block;
        width: 64px;
        height: 64px;
        margin: 0 16px;
        border: 4px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
        &:hover,
        &:focus {
          background-color: #00B3E6;
        }
        .fa {
          color: #fff;
          font-size: 40px;
          line-height: 58px;
        }
      }
    }
  }

  &-copy {
    margin-top: 90px;
    margin-bottom: 30px;
    font-family: 'Avenir Next';
    line-height: normal;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  &-link {
    display: block;
    font-family: 'Avenir Next';
    line-height: normal;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.15em;
    color: #fff;
    text-decoration: underline;
    &:hover {
      background-color: transparent;
      text-decoration: none;
      color: #fff;
    }
  }

  .wpcf7 {
    margin-top: 25px;
  }

}








// Media Queries

@media (min-width: 1440px) {
  .navbar-main {
    padding-left: 75px;
    padding-right: 75px;
  }
  .navbar-more > .menu-item {
    display: block;
  }
  .navbar-more > .menu-item:last-child {
    display: none;
  }
}

@media (max-width: 1440px) {
  .navbar-more > .menu-item {
    display: none;
  }
  .navbar-more > .menu-item:last-child {
    display: block;
  }
}

@media (max-width: 1200px) {
  .navbar-main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-more {
    padding-left: 30px;
  }
}

@media (max-width: 1024px) {
  .navbar > .container {
    flex-direction: column;
  }
  .navbar-header {
    width: 100%;
    border-right: none;
    text-align: center;
  }
  .navbar-brand {
    float: none;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    left: 16px;
    top: 15px;
  }
  .navbar-collapse {
    position: absolute;
    top: 72px;
    left: 50%;
    min-width: 272px;
    margin-left: -136px !important;
    padding: 30px 0;
    border-top: none;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    z-index: 100;
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: flex !important;
    overflow-y: visible;
  }

  .navbar-nav {
    margin-top: 0;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  .navbar-nav .menu-item a {
    display: inline-block;
  }
  .navbar-main {
    padding-bottom: 30px;
  }
  .navbar-main > .menu-item > a {
    padding: 5px;
  }
  .navbar-main > .menu-item > a:hover,
  .navbar-main > .menu-item > a:focus {
    border-bottom: 2px solid rgba(0, 179, 230, 0.5);
  }
  .navbar-more {
    float: none;
    width: 80px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-left: 0;
    border-top: 1px solid rgba(119, 119, 122, 0.2);
  }
  .navbar-more > .menu-item {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-more > .menu-item a {
    color: #00B3E6;
    font-size: 14px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
  }
  .navbar-more > .menu-item:last-child {
    display: none;
  }
  .navbar-footer {
    margin: 0 0 60px 0;
  }

}
