


// Sections
.resourceSection {
  font-weight: bold;

  // Video Section
  &-video {
    position: relative;
    background-size: cover;
    &.is-transparent {
      background-image: none !important;
    }

    .card-video {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden;
      z-index: -1;
    }
    .card-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 160px;
      height: 160px;
      margin-top: -80px;
      margin-left: -80px;
      border-radius: 80px;
      border: none;
      outline: none;
      transition: all 0.5s ease;
      cursor: pointer;
      z-index: 100;
      &:hover,
      &:focus {opacity: 1;}
      &.is-hidden {opacity: 0;}
      .fa {
        color: #fff;
        font-size: 88px;
        text-align: center;
        &-play {margin-left: 20px;}
      }
      &.is {
        &-connected {
          .card-btn {background-color: $connected;}
        }
        &-focused {
          .card-btn {background-color: $focused;}
        }
        &-led {
          .card-btn {background-color: $led;}
        }
        &-demonstrated {
          .card-btn {background-color: $demonstrated;}
        }
      }
    }

  }

  // Description Section
  &-description {
    padding-top: 80px;
    padding-bottom: 100px;
    .container {
      padding-bottom: 0;
    }

    .card-head {
      position: absolute;
      top: -300px;
      left: 0;
      width: 100%;
      border-top: 4px solid transparent;
      &.is-hidden {
        display: none;
      }
      .card-meta {
        float: right;
        color: $white;
        padding: 5px 10px;
        text-transform: uppercase;
      }
      .card-title {
        margin-top: 40px;
        margin-bottom: 15px;
        font-weight: bold;
        line-height: 60px;
        font-size: 45px;
        color: $white;
      }
      .card-subtitle {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 45px;
        color: $white;
      }
    }

    .card-desc {
      .card-content {
        line-height: 60px;
        font-size: 36px;
        color: $white;
      }
    }

    &.is {
      &-connected {
        background-color: $connected;
        .card {border-color: $connected;}
        .card-meta {background-color: $connected;}
      }
      &-focused {
        background-color: $focused;
        .card {border-color: $focused;}
        .card-meta {background-color: $focused;}
      }
      &-led {
        background-color: $led;
        .card {border-color: $led;}
        .card-meta {background-color: $led;}
      }
      &-demonstrated {
        background-color: $demonstrated;
        .card {border-color: $demonstrated;}
        .card-meta {background-color: $demonstrated;}
      }
    }
  }

  // Reviews Section
  &-reviews {
    padding: 80px 0;
    .resourceSection-title {
      font-weight: bold;
      line-height: 48px;
      font-size: 36px;
      text-align: center;
    }
    .resourceSection-line {
      margin: 30px auto 40px auto;
      width: 64px;
      height: 8px;
      background: $secondary;
    }
  }

  // Statistic Section
  &-statistic {
    padding-top: 75px;
    padding-bottom: 75px;

    .card {
      line-height: 48px;
      font-weight: bold;
      text-align: center;
      &-title {
        font-size: 36px;
      }
      &-subtitle {
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 40px;
      }
      &-content {
        font-size: 24px;
        margin-bottom: 30px;
      }
      &-square {
        display: flex;
        justify-content: space-around;
        max-width: 740px;
        margin: 0 auto;
        padding: 50px 90px;
        border: 8px solid #FFFFFF;
        text-align: left;
        ul {
          padding-left: 0;
          list-style: none;
        }
        ul li {
          font-size: 28px;
          line-height: 42px;
        }
      }
      &-footer {
        font-size: 12px;
      }

    }
  }

  // Steps Section
  &-steps {
    padding-top: 80px;

    .resourceSection-title {
      font-size: 36px;
      line-height: 48px;
      font-weight: bold;
      text-align: center;
      max-width: 680px;
      margin: 0 auto;
    }

    .resourceSection-line {
      width: 64px;
      height: 8px;
      margin: 30px auto;
      background: $secondary;
    }

  }

  // Footer Section
  &-footer {

    // &-footer {
      .form {
        &-section {
          padding: 25px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          .container {
            display: flex;
            padding-bottom: 0;
          }
        }
        &-title {
          width: 60%;
          font-size: 36px;
          line-height: 48px;
        }
        &-content {
          width: 40%;
          text-align: right;
        }
        &-label {
          display: inline-block;
          line-height: 64px;
          text-transform: uppercase;
        }
        &-icon {
          float: right;
          display: block;
          width: 64px;
          height: 64px;
          margin: 0 16px;
          border: 4px solid $text;
          text-align: center;
          &:hover,
          &:focus {
            background: $primary;
            .fa {
              color: $white;
            }
          }
          .fa {
            color: $text;
            font-size: 40px;
            line-height: 58px;
          }
        }
        &-download {
          padding: 80px 0;
          .form-title {
            font-size: 36px;
            line-height: 64px;
          }
          .form-label {
            line-height: 64px;
          }
        }
      }
    // }

    .nav {
      &-single {
        width: 100%;
        display: flex;
      }
      &-arrow {
        a {
          display: block;
          line-height: 64px;
          color: $primary;
          text-decoration: none;
          transition: all 0.5s ease;
          div {
            width: 64px;
            height: 64px;
            background: $primary;
            transition: all 0.5s ease;
          }
        }
        a:hover,
        a:focus {
          color: $white;
          background: $primary;
          div {
            background: #23313B;
          }
        }
      }
      &-left {
        width: 30%;
        div {
          float: left;
          margin-right: 15px;
        }
      }
      &-right {
        width: 30%;
        text-align: right;
        div {
          float: right;
          margin-left: 15px;
        }
      }
      &-title {
        width: 40%;
        text-align: center;
        font-size: 15px;
        line-height: 64px;
      }
    }

    .simplefavorite-button {
      float: right;
      display: block;
      opacity: 1;
      width: 64px;
      height: 64px;
      padding: 0;
      margin: 0 16px;
      border: 4px solid $text;
      background-color: $white;
      text-align: center;
      &:hover,
      &:focus {
        background: $primary;
        .sf-icon-like {
          color: $white;
        }
      }
      .sf-icon-like {
        color: $text;
        font-size: 40px;
        line-height: 58px;
      }
    }

  }

  // Comment Section
  &-comments {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    &.is-active {
      display: block;
      opacity: 1;
    }

  }

  // Hero Section
  &-hero {
    position: relative;
    height: 600px;
    background-size: cover;

    .bg-overlay {
      width: 100%;
      height: 600px;
      position: absolute;
      left: 0;
      top: 0;
      background: radial-gradient(444.87px at 50% 25.85%, rgba(35, 49, 59, 0) 0%, rgba(35, 49, 59, 0.4) 100%);
      mix-blend-mode: multiply;
      opacity: 0.6;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .container {
      height: 100%;
    }

    .card {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 4px solid $primary;
      &-title {
        margin: 30px 0;
        font-weight: bold;
        line-height: 60px;
        font-size: 45px;
        color: $white;
      }
    }

  }

  // Filter Section
  &-filter {
    padding: 30px 0;

    .filter-text {
      padding-top: 30px;
      padding-bottom: 80px;
      font-weight: bold;
      line-height: 60px;
      font-size: 36px;
      color: $text;
    }

    .filter-title {
      margin-bottom: 30px;
      font-weight: bold;
      line-height: 20px;
      font-size: 28px;
    }

    .btn-group {
      label:first-child {
        width: 64px;
      }
      label:last-child {
        width: 283px;
      }
    }

    .filter-select {
      width: 350px;
    }

  }

}



// Review Item
.reviewItem {
  display: flex;

  &-image {
    margin-right: 30px;
    width: 160px;
    height: 160px;
    background-size: cover;
    .blank {
      height: 100%;
      background: #c4c4c4;
    }
  }

  &-content {
    margin-bottom: 50px;
    font-weight: normal;
    line-height: 42px;
    font-size: 24px;
  }

  &-author {
    font-size: 24px;
  }

  &-position {
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: normal;
  }

}



// Step Item
.stepItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    padding: 40px 0;
  }
  &-category {
    width: 100%;
    padding-left: 19%;
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    &.is {
      &-connected {color: $connected;}
      &-focused {color: $focused;}
      &-led {color: $led;}
      &-demonstrated {color: $demonstrated;}
    }
  }
  &-label {
    display: inline-block;
    width: 19%;
    font-size: 24px;
  }
  &-content {
    width: 80%;
    display: inline-block;
    font-weight: normal;
    line-height: 48px;
    font-size: 24px;
  }
}




// Resource Item
.resourceCard {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  &:first-child {
    padding-top: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  .container {
    display: flex;
  }

  &-content {
    width: 50%;
    padding-right: 33px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-media {
    width: 50%;
    min-height: 356px;
    position: relative;
  }

  &.is {
    &-connected {
      .card-meta {color: $connected}
      .card-bgcolor {background: $connected}
    }
    &-focused {
      .card-meta {color: $focused}
      .card-bgcolor {background: $focused}
    }
    &-led {
      .card-meta {color: $led}
      .card-bgcolor {background: $led}
    }
    &-demonstrated {
      .card-meta {color: $demonstrated}
      .card-bgcolor {background: $demonstrated}
    }
  }


  // Content
  .card {
    width: 100%;
    height: 100%;
    overflow: hidden;

    // Left Parts
    &-meta {
      margin-bottom: 30px;
      font-weight: bold;
      line-height: 16px;
      font-size: 12px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
    &-title {
      margin: 0;
      font-weight: bold;
      line-height: 32px;
      font-size: 28px;
      color: $text;
      .post-edit-link {
        text-decoration: none !important;
      }
    }
    &-desc {
      max-height: 96px;
      margin-bottom: 80px;
      line-height: 32px;
      font-size: 16px;
      color: $text;
      overflow: hidden;
    }
    &-btn {
      display: block;
      height: 64px;
      font-weight: bold;
      line-height: 64px;
      font-size: 18px;
      text-align: center;
      color: $text;
      background-color: $secondary;
      &:hover,
      &:focus {
        color: $text;
        text-decoration: none;
      }
    }

    // Right Parts
    &-video {
      // position: absolute;
      // bottom: 0;
    }
    &-image {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    &-bgcolor {
      width: 100%;
      height: 100%;
    }

    &-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 64px;
      display: flex;
      z-index: 99;
      background: linear-gradient(180deg, rgba(35, 49, 59, 0) 0%, #23313B 100%);
      opacity: 0.9;

      .item {
        position: relative;
        display: block;
        width: 50%;
        height: 64px;
        color: $white;
        text-align: center;
        text-decoration: none;
        i {
          display: block;
          padding-top: 12px;
          margin-bottom: 5px;
          font-size: 18px;
        }
        span {
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.15em;
          text-transform: uppercase;
        }
        &:first-child:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 48px;
          margin: 8px 0;
          background: $white;
        }
      }

      &.is-fullheight {
        height: 100%;
        padding: 32px 0;
        background: none;
        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:first-child:after {
            position: absolute;
            top: 0;
            height: 100%;
            margin: 0;
          }
        }

      }

    }

  }


}




// Play Button
#videoPlay {
  &.is-fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  &.is-connected {
    background-color: $connected;
  }
  &.is-focused {
    background-color: $focused;
  }
  &.is-led {
    background-color: $led;
  }
  &.is-demonstrated {
    background-color: $demonstrated;
  }
}



// Fullscreen video
.fullsize-video-bg {
  height: 100%;
  overflow: hidden;
  &:before {
  content: "";
  background: rgba(114,45,0,.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  }
  &:after {
  background-size: 3px 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  }
  & .inner {
  display: table;
  width: 100%;
  max-width: 24em;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 5px rgba(0,0,0,.5);
  }
  &.inner > div {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2em;
  }
}



// Video Player
.mejs {
  &-container {
    min-height: 356px;
  }
  &-offscreen {
    display: none !important;
  }
  &-controls {
    display: none !important;
  }
}




// Media Queries
@media (min-width: 1600px) {
  .resourceSection-hero,
  .resourceSection-video {
    min-height: 827px;
  }
}
@media (min-width: 1280px) {
  .resourceSection-hero,
  .resourceSection-video {
    min-height: 827px;
  }
}
@media (min-width: 1024px) {
  .resourceSection-hero,
  .resourceSection-video {
    min-height: 627px;
  }
  .card-video video {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .resourceSection-hero,
  .resourceSection-video {
    min-height: 44vw;
  }
  .card-video video {
    width: 100%;
    height: 100%;
  }
  .resourceSection-description .card-head {
    position: relative;
    top: 0;
  }
  .resourceSection-description .card-category {
    float: left;
  }
  .resource-three .card .square {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .resource-three .card .square,
  .resource-four .card .step {
    flex-direction: column;
  }
}
