


.section {
  
  &-buttons {
    .button {
      margin-bottom: 32px;
    }
  }

  &-colors {
    .title {
      margin-bottom: 40px;
    }
  }

  &-typography {
    .title {
      margin-bottom: 80px;
    }
  }

  &-components {

  }

}
