

.section {

  &-buttons {
    .button {
      margin-bottom: 3.2rem;
    }
  }

  &-colors {
    .title {
      margin-bottom: 4rem;
    }
    .tag {
      margin-bottom: 1rem;
    }
  }

  &-typography {
    & > .title {
      margin-bottom: 8rem;
    }
  }

  &-components {
    & > .container > .title {
      margin-bottom: 6rem;
    }
    .subtitle {
      margin-top: 6rem;
      margin-bottom: 3rem;
    }

  }

}
