


.button {
  padding: 0 4rem;
  // min-width: 54rem;
  font-weight: bold;
  border-width: 2px;
  border-radius: 0;
  height: 6rem;
  line-height: 6rem;

  &.is-primary {
    font-size: 2.4rem;
    background-color: $primary;
    border-color: transparent;
    color: $white;
    &:hover,
    &:focus,
    &:active,
    &.is-hovered,
    &.is-focused,
    &.is-active {
      background-color: $text;
      border-color: transparent;
      color: $white;
    }
  }

  &.is-secondary {
    font-size: 1.8rem;
    background-color: $secondary;
    border-color: transparent;
    color: $white;
    &:hover,
    &:focus,
    &:active,
    &.is-hovered,
    &.is-focused,
    &.is-active {
      background-color: $white;
      border-color: $text;
      color: $text;
    }
  }


}

.button {
  height: 64px;
  padding: 0px 64px;
  line-height: 64px;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid transparent;
  transition: .3s;
  cursor: poipointer;
  &.is-full { width: 100%; }

  &-primary {
    font-size: 24px;
    color: $white;
    border-color: $primary;
    background-color: $primary;
    &:hover,
    &:focus,
    &.is-hover {
      border-color: $text;
      background-color: $text;
    }
  }
  &-secondary {
    font-size: 18px;
    color: $text;
    border-color: $secondary;
    background-color: $secondary;
    &:hover,
    &:focus,
    &.is-hover {
      border-color: $text;
      background-color: $white;
    }
  }
  &-default {
    color: $text;
    border-color: $gray;
    background-color: $white;
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
      background-color: $white;
    }
  }
  &-connected {
    color: $white;
    border-color: $connected;
    background-color: $connected;
  }
  &-focused {
    color: $white;
    border-color: $focused;
    background-color: $focused;
  }
  &-led {
    color: $white;
    border-color: $led;
    background-color: $led;
  }
  &-demonstrated {
    color: $white;
    border-color: $demonstrated;
    background-color: $demonstrated;
  }
}




// Old
.btn {
  height: 60px;
  max-width: 544px;
  padding: 14px 32px;
  padding: 0px 60px;
  line-height: 32px;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid transparent;
  transition: .3s;
  line-height: 60px;
  &.is-full {
    width: 100%;
  }
  &-primary {
    font-size: 24px;
    color: $white;
    border-color: $primary;
    background-color: $primary;
    &:hover,
    &:focus,
    &.is-hover {
      border-color: $text;
      background-color: $text;
    }
  }
  &-secondary {
    font-size: 18px;
    color: $text;
    border-color: $secondary;
    background-color: $secondary;
    &:hover,
    &:focus,
    &.is-hover {
      border-color: $text;
      background-color: $white;
    }
  }
  &-default {
    color: $text;
    border-color: $gray;
    background-color: $white;
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
      // color: $text;
      // border-color: $text;
      background-color: $white;
    }
  }
  &-connected {
    color: $white;
    border-color: $connected;
    background-color: $connected;
  }
  &-focused {
    color: $white;
    border-color: $focused;
    background-color: $focused;
  }
  &-led {
    color: $white;
    border-color: $led;
    background-color: $led;
  }
  &-demonstrated {
    color: $white;
    border-color: $demonstrated;
    background-color: $demonstrated;
  }
}
