

.title {
  // display: block;
  color: $text;
  font-size: 3.6rem;
  line-height: 6rem;
  font-weight: bold;

  @include touch {
    font-size: 3.6rem * 0.8;
  }

  @include mobile {
    font-size: 3.6rem * 0.555;
  }

  &.is-desktop {
    font-size: 3.6rem !important;
  }

  &.is-touch {
    font-size: 3.6rem * 0.8 !important;
  }

  &.is-mobile {
    font-size: 3.6rem * 0.533 !important;
  }
}

.title.is-h1 {
  font-size: 4.5rem;
  line-height: 5.8rem;
  font-weight: bold;

  @include touch {
    font-size: 4.5rem * 0.8;
  }

  @include mobile {
    font-size: 4.5rem * 0.533;
  }

  &.is-desktop {
    font-size: 4.5rem !important;
  }

  &.is-touch {
    font-size: 4.5rem * 0.8 !important;
  }

  &.is-mobile {
    font-size: 4.5rem * 0.533 !important;
  }
}

.title.is-subhead {
  font-size: 1.8rem;
  line-height: normal;
  font-weight: bold;

  @include touch {
    font-size: 1.8rem * 0.88;
  }

  @include mobile {
    font-size: 1.8rem * 0.833;
  }

  &.is-desktop {
    font-size: 1.8rem !important;
  }

  &.is-touch {
    font-size: 1.8rem * 0.88 !important;
  }

  &.is-mobile {
    font-size: 1.8rem * 0.833 !important;
  }
}

.subtitle,
.title.is-subtitle {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  line-height: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  @include touch {
    font-size: 1.4rem * 0.85;
  }

  @include mobile {
    font-size: 1.4rem * 0.857;
  }

  &.is-desktop {
    font-size: 1.4rem !important;
  }

  &.is-touch {
    font-size: 1.4rem * 0.85 !important;
  }

  &.is-mobile {
    font-size: 1.4rem * 0.857 !important;
  }
}

.title.is-cta,
.title.is-label {
  font-size: 2.4rem;
  line-height: 4.2rem;
  font-weight: bold;

  @include touch {
    font-size: 2.4rem * 0.79;
  }

  @include mobile {
    font-size: 2.4rem * 0.667;
  }

  &.is-desktop {
    font-size: 2.4rem !important;
  }

  &.is-touch {
    font-size: 2.4rem * 0.79 !important;
  }

  &.is-mobile {
    font-size: 2.4rem * 0.667 !important;
  }
}

.title.is-caption {
  line-height: 2.0rem;
  font-size: 1.3rem;
  font-weight: bold;

  @include touch {
    font-size: 1.3rem * 0.85;
  }

  @include mobile {
    font-size: 1.3rem * 0.857;
  }

  &.is-desktop {
    font-size: 1.3rem !important;
  }

  &.is-touch {
    font-size: 1.3rem * 0.85 !important;
  }

  &.is-mobile {
    font-size: 1.3rem * 0.857 !important;
  }
}
