

.columns {
  display: flex;
}

.column {

  &.is-half {
    width: 50%;
    &:nth-child(odd) {
      padding-right: 16px;
    }
    &:nth-child(even) {
      padding-left: 16px;
    }
  }

  &.is-third {

  }

  &.is-forth {

  }

}
