@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #fff;
  color: #23313b;
}
html {
  font-size: 62.5%;
}
body.admin-bar .navbar-fixed-top {
  top: 32px;
}
body#tinymce.wp-editor li + li {
  margin-top: 0.25em;
}
body#tinymce.wp-editor p:not(:last-child), body#tinymce.wp-editor dl:not(:last-child), body#tinymce.wp-editor ol:not(:last-child), body#tinymce.wp-editor ul:not(:last-child), body#tinymce.wp-editor blockquote:not(:last-child), body#tinymce.wp-editor pre:not(:last-child), body#tinymce.wp-editor table:not(:last-child), body#tinymce.wp-editor video:not(:last-child) {
  margin-bottom: 5rem;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
  color: #23313b;
  font-weight: bold;
  line-height: 1.125;
}
body#tinymce.wp-editor h1 {
  font-size: 4.5rem;
  line-height: 7.8rem;
  margin-bottom: 3rem;
}
body#tinymce.wp-editor h1:not(:first-child) {
  margin-top: 6rem;
}
body#tinymce.wp-editor h2 {
  font-size: 4.5rem;
  line-height: 7.8rem;
  margin-bottom: 3rem;
}
body#tinymce.wp-editor h2:not(:first-child) {
  margin-top: 6rem;
}
body#tinymce.wp-editor h3 {
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
}
body#tinymce.wp-editor h3:not(:first-child) {
  margin-top: 6rem;
}
body#tinymce.wp-editor h4 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
body#tinymce.wp-editor h5 {
  font-size: 2.4rem;
  line-height: 4.4rem;
  margin-bottom: 2rem;
  margin-left: 9rem;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body#tinymce.wp-editor h6 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body#tinymce.wp-editor p {
  font-size: 2.4rem;
  line-height: 4.4rem;
}
body#tinymce.wp-editor p a {
  color: #23313b;
  text-decoration: underline;
}
body#tinymce.wp-editor blockquote {
  font-size: 1.6rem;
  line-height: 2.8rem;
  background-color: transparent;
  border-left: 4px solid #00b3e6;
  padding-left: 9.2rem;
}
body#tinymce.wp-editor ol {
  list-style: decimal outside;
  margin-left: 3rem;
  margin-top: 3rem;
}
body#tinymce.wp-editor ul {
  list-style: disc outside;
  margin-left: 9rem;
  margin-top: 0rem;
  margin-bottom: 3rem;
}
body#tinymce.wp-editor ul li {
  font-size: 2.4rem;
  line-height: 4.4rem;
}
body#tinymce.wp-editor ul ul {
  list-style-type: circle;
  margin-top: 1.5rem;
}
body#tinymce.wp-editor ul ul ul {
  list-style-type: square;
}
body#tinymce.wp-editor dd {
  margin-left: 3rem;
}
body#tinymce.wp-editor figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}
body#tinymce.wp-editor figure:not(:first-child) {
  margin-top: 2em;
}
body#tinymce.wp-editor figure:not(:last-child) {
  margin-bottom: 2em;
}
body#tinymce.wp-editor figure img {
  display: inline-block;
}
body#tinymce.wp-editor figure figcaption {
  font-style: italic;
}
body#tinymce.wp-editor small {
  display: block;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
body#tinymce.wp-editor small strong {
  line-height: 2.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}
/*# sourceMappingURL=editor.css.map */