body {
  font-family: 'Avenir Next', sans-serif;
  background-color: #fff;
  color: #23313b;
}
body.is-fixed {
  padding-top: 72px;
}
.is-center {
  text-align: center;
}
.is-white {
  color: #fff;
}
.bg-primary {
  background: #00b3e6;
}
.bg-secondary {
  background: #f5c400;
}
.bg-connected {
  background: #00b3e6;
}
.bg-focused {
  background: #b34fc5;
}
.bg-led {
  background: #84be41;
}
.bg-demonstrated {
  background: #ff6c0c;
}
.btn {
  padding: 14px 32px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #23313b;
  border-radius: 0;
  border: 2px solid transparent;
}
.btn-secondary {
  border-color: #f5c400;
  background-color: #f5c400;
}
.btn-connected {
  border-color: #00b3e6;
  background-color: #00b3e6;
}
.btn-focused {
  border-color: #b34fc5;
  background-color: #b34fc5;
}
.btn-led {
  border-color: #84be41;
  background-color: #84be41;
}
.btn-demonstrated {
  border-color: #ff6c0c;
  background-color: #ff6c0c;
}
.btn-default.active, .btn-default:active, .btn-default.active:hover, .btn-default.active:focus, .open > .dropdown-toggle.btn-default {
  color: #23313b;
  background-color: #fff;
  border-color: #fff;
}
.btn-group-connected .btn-default {
  border-color: #00b3e6 !important;
}
.btn-group-focused .btn-default {
  border-color: #b34fc5 !important;
}
.btn-group-led .btn-default {
  border-color: #84be41 !important;
}
.btn-group-demonstrated .btn-default {
  border-color: #ff6c0c !important;
}
.btn-group .fa.fa-check {
  color: #fff;
}
.form-control {
  margin-bottom: 15px;
}
select.form-control {
  font-size: 18px;
  color: #23313b;
  background-color: #fff;
  border: 2px solid #e4e4e4;
  box-shadow: none;
}
.form-group input[type="checkbox"] {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}
.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
/* Fonts */
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'), url('../fonts/AvenirNextCyr-Regular.woff') format('woff'), url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype'), url('../fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-Bold.eot');
  src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'), url('../fonts/AvenirNextCyr-Bold.woff') format('woff'), url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype'), url('../fonts/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.navbar {
  position: relative;
  height: 72px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  border-radius: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.navbar, .navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > .container {
  width: 100%;
  padding: 0;
}
.navbar-fixed-top {
  position: fixed !important;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}
.navbar-header {
  padding-left: 16px;
  padding-right: 16px;
}
.navbar-brand {
  display: inline-block;
  white-space: nowrap;
  width: 95px;
  height: 42px;
  margin: -3px 0 0 4px !important;
  padding: 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3em;
}
.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}
.navbar-toggle {
  float: left;
  font-size: 1.0625rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
  background-color: transparent;
}
.navbar-toggle .icon-group {
  display: inline-block;
  margin-right: 12px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #008ae3;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}
.navbar-toggle .icon-text {
  font-family: 'Avenir Next';
  line-height: normal;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #00b3e6;
}
.navbar-toggle:focus, .navbar-toggle:hover {
  text-decoration: none;
}
.navbar-toggle:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.navbar-nav .menu-item a {
  font-family: 'Avenir Next';
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  text-transform: none;
  white-space: nowrap;
}
.navbar-nav > .menu-item > a {
  padding: 20px 5px;
  border-bottom: 4px solid transparent;
}
.navbar-nav > .menu-item > .dropdown-menu {
  float: none;
  margin-top: 18px;
  padding: 25px 0;
  border-top: 0px solid transparent;
  min-width: 270px;
  text-align: center;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}
.navbar-nav .open .dropdown-menu {
  display: block;
}
.navbar-nav .dropdown-menu .menu-item {
  padding: 5px 0;
}
.navbar-nav .dropdown-menu .menu-item > a {
  display: inline-block;
  padding: 5px 5px;
  color: #00b3e6;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  border-bottom: 2px solid transparent;
}
.navbar-nav .dropdown-menu .menu-item a:hover, .navbar-nav .dropdown-menu .menu-item a:focus {
  color: #00b3e6;
  background-color: transparent;
  background-image: none;
  border-bottom: 2px solid rgba(0, 179, 230, 0.5);
}
.navbar-main {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.navbar-main .menu-item {
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-main > .menu-item > a {
  padding: 0 5px;
  font-size: 15px;
  letter-spacing: 0.02em;
  white-space: nowrap;
  color: #00b3e6;
}
.navbar-main > .menu-item > a:hover, .navbar-main > .menu-item > a:focus {
  color: #00b3e6;
  background-color: transparent;
  border-bottom: 4px solid rgba(0, 179, 230, 0.5);
}
.navbar-main .open > a, .navbar-main .open > a:hover, .navbar-main .open > a:focus {
  color: #00b3e6;
  background-color: transparent;
  border-bottom: 4px solid rgba(0, 179, 230, 0.5);
}
.navbar-main .dropdown-menu {
  left: 50%;
  margin-left: -135px;
}
.navbar-more {
  float: right;
  padding: 0 25px;
  border-left: 1px solid rgba(119, 119, 122, 0.2);
}
.navbar-more > .menu-item {
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-more > .menu-item > a {
  padding-top: 0;
  padding-bottom: 0;
  color: #77777a;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.15em;
  white-space: nowrap;
}
.navbar-more > .menu-item > a:hover, .navbar-more > .menu-item > a:focus {
  color: #77777a;
  background-color: transparent;
}
.navbar-more .dropdown-menu {
  left: auto;
  right: -25px;
}
.navbar-more .open > a, .navbar-more .open > a:hover, .navbar-more .open > a:focus {
  color: #00b3e6;
  background-color: transparent;
  border-bottom: 4px solid rgba(0, 179, 230, 0.5);
}
.navbar-footer {
  flex-direction: column;
}
.navbar-footer .menu-item {
  float: none;
  text-align: left;
}
.navbar-footer-2 .menu-item:last-child {
  display: none;
}
.navbar-footer .menu-item a {
  padding: 0;
  font-family: 'Avenir Next';
  line-height: 28px;
  font-size: 15px;
  font-weight: normal;
  text-decoration-line: underline;
  color: #fff;
}
.navbar-footer .menu-item a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}
.navbar-footer .menu-item .caret {
  display: none;
}
.navbar-collapse {
  padding: 0;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  background-color: #fff;
  overflow: visible;
}
.navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}
@media (min-width: 1440px) {
  .navbar-main {
    padding-left: 75px;
    padding-right: 75px;
  }
  .navbar-more > .menu-item {
    display: block;
  }
  .navbar-more > .menu-item:last-child {
    display: none;
  }
}
@media (max-width: 1440px) {
  .navbar-more > .menu-item {
    display: none;
  }
  .navbar-more > .menu-item:last-child {
    display: block;
  }
}
@media (max-width: 1200px) {
  .navbar-main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-more {
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .navbar > .container {
    flex-direction: column;
  }
  .navbar-header {
    width: 100%;
    border-right: none;
    text-align: center;
  }
  .navbar-brand {
    float: none;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    left: 16px;
    top: 15px;
  }
  .navbar-collapse {
    position: absolute;
    top: 72px;
    left: 50%;
    min-width: 272px;
    margin-left: -136px !important;
    padding: 30px 0;
    border-top: none;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    z-index: 100;
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: flex !important;
    overflow-y: visible;
  }
  .navbar-nav {
    margin-top: 0;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  .navbar-nav .menu-item a {
    display: inline-block;
  }
  .navbar-main {
    padding-bottom: 30px;
  }
  .navbar-main > .menu-item > a {
    padding: 5px;
  }
  .navbar-main > .menu-item > a:hover, .navbar-main > .menu-item > a:focus {
    border-bottom: 2px solid rgba(0, 179, 230, 0.5);
  }
  .navbar-more {
    float: none;
    width: 80px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-left: 0;
    border-top: 1px solid rgba(119, 119, 122, 0.2);
  }
  .navbar-more > .menu-item {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-more > .menu-item a {
    color: #00b3e6;
    font-size: 14px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
  }
  .navbar-more > .menu-item:last-child {
    display: none;
  }
  .navbar-footer {
    margin: 0 0 60px 0;
  }
}
/* Site Footer */
.siteFooter {
  /* padding-top: 90px; */
  padding-bottom: 110px;
  color: #fff;
  background: #23313b;
}
.siteFooter-title {
  margin-top: 90px;
  margin-bottom: 50px;
  font-family: 'Avenir Next';
  line-height: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.siteFooter-title span {
  display: block;
  width: 64px;
  height: 8px;
  margin: 40px auto 0 auto;
  background: #fff;
}
.siteFooter .wpcf7 {
  margin-top: 25px;
}
.siteFooter-subtitle {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Avenir Next';
  font-size: 24px;
  font-weight: bold;
}
.siteFooter-socials {
  margin-bottom: 60px;
  text-align: center;
}
.siteFooter-socials .social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.siteFooter-socials .social-icons a {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0 16px;
  border: 4px solid #fff;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.siteFooter-socials .social-icons a:hover, .siteFooter-socials .social-icons a:focus {
  background-color: #00b3e6;
}
.siteFooter-socials .social-icons a .fa {
  color: #fff;
  font-size: 40px;
  line-height: 58px;
}
.siteFooter-copy {
  margin-top: 90px;
  margin-bottom: 30px;
  font-family: 'Avenir Next';
  line-height: normal;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.siteFooter-link {
  display: block;
  font-family: 'Avenir Next';
  line-height: normal;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.15em;
  color: #fff;
  text-decoration: underline;
}
.siteFooter-link:hover {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}
/* Form Styles */
.form-control {
  height: 64px;
  line-height: 64px;
  background-color: transparent;
  border: 4px solid #fff;
  border-radius: 0px;
  font-family: 'Avenir Next';
  line-height: 42px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form-control.btn-primary {
  font-size: 24px;
  border-color: #00b3e6;
  background-color: #00b3e6;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* Page */
.page-template-default .page {
  padding-top: 72px;
}
/* Single */
.page-template-default .single {
  padding-top: 72px;
}
.resourceSesction {
  font-weight: bold;
}
.resourceSesction-hero {
  height: 827px;
  padding-bottom: 0;
}
.resourceSesction-hero .container {
  height: 100%;
}
.resourceSesction-hero .card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid transparent;
}
.resourceSesction-hero .card-meta {
  float: right;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
}
.resourceSesction-hero .card-title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 60px;
  font-size: 45px;
  color: #fff;
}
.resourceSesction-hero .card-subtitle {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 45px;
  color: #fff;
}
.resourceSesction-hero.is-connected .card {
  border-color: #00b3e6;
}
.resourceSesction-hero.is-connected .card-meta {
  background-color: #00b3e6;
}
.resourceSesction-hero.is-focused .card {
  border-color: #b34fc5;
}
.resourceSesction-hero.is-focused .card-meta {
  background-color: #b34fc5;
}
.resourceSesction-hero.is-led .card {
  border-color: #84be41;
}
.resourceSesction-hero.is-led .card-meta {
  background-color: #84be41;
}
.resourceSesction-hero.is-demonstrated .card {
  border-color: #ff6c0c;
}
.resourceSesction-hero.is-demonstrated .card-meta {
  background-color: #ff6c0c;
}
.resourceSesction-description {
  padding-top: 80px;
  padding-bottom: 100px;
}
.resourceSesction-description .container {
  padding-bottom: 0;
}
.resourceSesction-description .card-content {
  line-height: 60px;
  font-size: 36px;
  color: #fff;
}
.resourceSesction-description.is-connected {
  background-color: #00b3e6;
}
.resourceSesction-description.is-focused {
  background-color: #b34fc5;
}
.resourceSesction-description.is-led {
  background-color: #84be41;
}
.resourceSesction-description.is-demonstrated {
  background-color: #ff6c0c;
}
.resourceSesction-reviews {
  padding: 80px 0;
}
.resourceSesction-reviews .resourceSesction-title {
  font-weight: bold;
  line-height: 48px;
  font-size: 36px;
  text-align: center;
}
.resourceSesction-reviews .resourceSesction-line {
  margin: 30px auto 40px auto;
  width: 64px;
  height: 8px;
  background: #f5c400;
}
.resourceSesction-statistic {
  padding-top: 75px;
  padding-bottom: 75px;
}
.resourceSesction-statistic .card {
  line-height: 48px;
  font-weight: bold;
  text-align: center;
}
.resourceSesction-statistic .card-title {
  font-size: 36px;
}
.resourceSesction-statistic .card-subtitle {
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 40px;
}
.resourceSesction-statistic .card-content {
  font-size: 24px;
  margin-bottom: 30px;
}
.resourceSesction-statistic .card-square {
  display: flex;
  justify-content: space-around;
  max-width: 740px;
  margin: 0 auto;
  padding: 50px 90px;
  border: 8px solid #fff;
  text-align: left;
}
.resourceSesction-statistic .card-square ul {
  padding-left: 0;
  list-style: none;
}
.resourceSesction-statistic .card-square ul li {
  font-size: 28px;
  line-height: 42px;
}
.resourceSesction-statistic .card-footer {
  font-size: 12px;
}
.resourceSesction-steps {
  padding-top: 80px;
}
.resourceSesction-steps .resourceSesction-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
}
.resourceSesction-steps .resourceSesction-line {
  width: 64px;
  height: 8px;
  margin: 30px auto;
  background: #f5c400;
}
.resourceSesction-footer .form-section {
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.resourceSesction-footer .form-section .container {
  display: flex;
  padding-bottom: 0;
}
.resourceSesction-footer .form-title {
  width: 60%;
  font-size: 36px;
  line-height: 48px;
}
.resourceSesction-footer .form-content {
  width: 40%;
  text-align: right;
}
.resourceSesction-footer .form-label {
  display: inline-block;
  line-height: 64px;
  text-transform: uppercase;
}
.resourceSesction-footer .form-icon {
  float: right;
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 16px;
  border: 4px solid #23313b;
  text-align: center;
}
.resourceSesction-footer .form-icon .fa {
  color: #23313b;
  font-size: 40px;
  line-height: 58px;
}
.resourceSesction-footer .form-download {
  padding: 80px 0;
}
.resourceSesction-footer .form-download .form-title {
  font-size: 36px;
  line-height: 64px;
}
.resourceSesction-footer .form-download .form-label {
  line-height: 64px;
}
@media (max-width: 1024px) {
  .resource-three .card .square {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .resource-three .card .square, .resource-four .card .step {
    flex-direction: column;
  }
}
.reviewItem {
  display: flex;
}
.reviewItem-image {
  margin-right: 30px;
  width: 160px;
  height: 160px;
  background-size: cover;
}
.reviewItem-image .blank {
  height: 100%;
  background: #c4c4c4;
}
.reviewItem-content {
  margin-bottom: 50px;
  font-weight: normal;
  line-height: 42px;
  font-size: 24px;
}
.reviewItem-author {
  font-size: 24px;
}
.reviewItem-position {
  margin-bottom: 100px;
  font-size: 24px;
  font-weight: normal;
}
.stepItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.stepItem .container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 40px 0;
}
.stepItem-category {
  width: 100%;
  padding-left: 19%;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.stepItem-category.is-connected {
  color: #00b3e6;
}
.stepItem-category.is-focused {
  color: #b34fc5;
}
.stepItem-category.is-led {
  color: #84be41;
}
.stepItem-category.is-demonstrated {
  color: #ff6c0c;
}
.stepItem-label {
  display: inline-block;
  width: 19%;
  font-size: 24px;
}
.stepItem-content {
  width: 80%;
  display: inline-block;
  font-weight: normal;
  line-height: 48px;
  font-size: 24px;
}
.resourcesSesction-hero {
  position: relative;
  height: 600px;
  background-size: cover;
}
.resourcesSesction-hero .bg-overlay {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(444.87px at 50% 25.85%, rgba(35, 49, 59, 0) 0%, rgba(35, 49, 59, 0.4) 100%);
  mix-blend-mode: multiply;
  opacity: 0.6;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.resourcesSesction-hero .container {
  height: 100%;
}
.resourcesSesction-hero .card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #00b3e6;
}
.resourcesSesction-hero .card-title {
  margin: 30px 0;
  font-weight: bold;
  line-height: 60px;
  font-size: 45px;
  color: #fff;
}
.resourcesSesction-filter {
  padding: 30px 0;
}
.resourcesSesction-filter .text {
  padding-top: 30px;
  padding-bottom: 80px;
  font-weight: bold;
  line-height: 60px;
  font-size: 36px;
  color: #23313b;
}
.resourcesSesction-filter .title {
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 20px;
  font-size: 28px;
}
.card-collaborate {
  padding: 42px 48px;
}
.card-collaborate .card-title {
  font-weight: bold;
  line-height: 32px;
  font-size: 20px;
  color: #fff;
}
.card-collaborate .card-line {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 64px;
  height: 8px;
  background: #fff;
}
.resourceCard {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.resourceCard:first-child {
  padding-top: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.resourceCard .container {
  display: flex;
}
.resourceCard-header {
  width: 50%;
  padding-right: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resourceCard-category {
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.resourceCard-category.is-connected {
  color: #00b3e6;
}
.resourceCard-category.is-focused {
  color: #b34fc5;
}
.resourceCard-category.is-led {
  color: #84be41;
}
.resourceCard-category.is-demonstrated {
  color: #ff6c0c;
}
.resourceCard-title {
  margin: 0;
  font-weight: bold;
  line-height: 32px;
  font-size: 28px;
  color: #23313b;
}
.resourceCard-text {
  line-height: 32px;
  font-size: 16px;
  color: #23313b;
}
.resourceCard-button {
  display: block;
  height: 64px;
  font-weight: bold;
  line-height: 64px;
  font-size: 18px;
  text-align: center;
  color: #23313b;
  background-color: #f5c400;
}
.resourceCard-button:hover, .resourceCard-button:focus {
  color: #23313b;
  text-decoration: none;
}
.resourceCard-content {
  width: 50%;
}
.shareSesction-hero {
  position: relative;
  height: 600px;
  background-size: cover;
}
.shareSesction-hero .bg-overlay {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(444.87px at 50% 25.85%, rgba(35, 49, 59, 0) 0%, rgba(35, 49, 59, 0.4) 100%);
  mix-blend-mode: multiply;
  opacity: 0.6;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.shareSesction-hero .container {
  height: 100%;
}
.shareSesction-hero .card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #00b3e6;
}
.shareSesction-hero .card-title {
  margin: 30px 0;
  font-weight: bold;
  line-height: 60px;
  font-size: 45px;
  color: #fff;
}
.shareSesction-description {
  padding-top: 60px;
  padding-bottom: 60px;
}
.shareSesction-description .card-content {
  font-weight: bold;
  line-height: 60px;
  font-size: 36px;
}
.shareSesction-buttons {
  padding-top: 49px;
  padding-bottom: 55px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.shareSesction-buttons .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
.shareSesction-buttons .btn {
  width: 448px;
}
.shareSesction-buttons .shareSesction-or {
  font-weight: bold;
  padding: 20px;
}
.shareSesction-review {
  padding-top: 80px;
  padding-bottom: 80px;
}
.shareSesction-review .card {
  display: flex;
}
.shareSesction-review .card-left {
  width: 50%;
  padding-right: 30px;
}
.shareSesction-review .card-right {
  width: 50%;
  padding-left: 30px;
}
.shareSesction-review .card-text {
  line-height: 40px;
  font-size: 24px;
  margin-bottom: 30px;
}
.shareSesction-review .card-author {
  font-weight: bold;
  font-size: 18px;
}
.shareSesction-review .card-position {
  font-size: 18px;
}
.shareSesction-review .card-image {
  width: 544px;
  height: 544px;
  background: #c4c4c4;
}
/*# sourceMappingURL=theme.css.map */