/* Fonts */
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'), url('../fonts/AvenirNextCyr-Regular.woff') format('woff'), url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype'), url('../fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-Bold.eot');
  src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'), url('../fonts/AvenirNextCyr-Bold.woff') format('woff'), url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype'), url('../fonts/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Avenir Next', sans-serif;
  background-color: #fff;
  color: #23313b;
}
.is-center {
  text-align: center;
}
.is-off {
  display: none !important;
}
.is-white {
  color: #fff;
}
.bg-primary {
  background: #00b3e6;
}
.bg-secondary {
  background: #f5c400;
}
.bg-connected {
  background: #00b3e6;
}
.bg-focused {
  background: #b34fc5;
}
.bg-led {
  background: #84be41;
}
.bg-demonstrated {
  background: #ff6c0c;
}
/* Page */
.page-template-default .page {
  padding-top: 72px;
}
/* Single */
.flex-grid {
  display: flex;
}
.flex-col-33 {
  width: 33%;
}
body.admin-bar .navbar-fixed-top {
  top: 32px;
}
body.admin-bar .accountSection-hero, body.admin-bar .resourceSesction-hero, body.admin-bar .resourcesSesction-hero {
  margin-top: 72px;
}
.navbar {
  position: relative;
  height: 72px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  border-radius: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > .container {
  width: 100%;
  padding: 0;
}
.navbar-fixed-top {
  position: fixed !important;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}
.navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}
.navbar-header {
  padding-left: 16px;
  padding-right: 16px;
}
.navbar-brand {
  display: inline-block;
  white-space: nowrap;
  width: 113px;
  height: 43px;
  margin: -3px 0 0 4px !important;
  padding: 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3em;
}
.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}
.navbar-toggle {
  float: left;
  font-size: 1.0625rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
  background-color: transparent;
}
.navbar-toggle:focus, .navbar-toggle:hover {
  text-decoration: none;
}
.navbar-toggle:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.navbar-toggle .icon-group {
  display: inline-block;
  margin-right: 12px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #008ae3;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}
.navbar-toggle .icon-text {
  font-family: 'Avenir Next';
  line-height: normal;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #00b3e6;
}
.navbar-collapse {
  padding: 0;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  background-color: #fff;
  overflow: visible;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.navbar-nav .menu-item a {
  font-family: 'Avenir Next';
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  text-transform: none;
  white-space: nowrap;
}
.navbar-nav > .menu-item > a {
  padding: 20px 5px;
  border-bottom: 4px solid transparent;
}
.navbar-nav > .menu-item > .dropdown-menu {
  float: none;
  margin-top: 18px;
  padding: 25px 0;
  border-top: 0px solid transparent;
  min-width: 270px;
  text-align: center;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}
.navbar-nav .open .dropdown-menu {
  display: block;
}
.navbar-nav .dropdown-menu .menu-item {
  padding: 5px 0;
}
.navbar-nav .dropdown-menu .menu-item > a {
  display: inline-block;
  padding: 5px 5px;
  color: #00b3e6;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  border-bottom: 2px solid transparent;
}
.navbar-nav .dropdown-menu .menu-item > a:hover, .navbar-nav .dropdown-menu .menu-item > a:focus {
  color: #00b3e6;
  background-color: transparent;
  background-image: none;
  border-bottom: 2px solid rgba(0, 179, 230, 0.5);
}
.navbar-main {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.navbar-main .menu-item {
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-main > .menu-item > a {
  padding: 0 5px;
  font-size: 15px;
  letter-spacing: 0.02em;
  white-space: nowrap;
  color: #00b3e6;
}
.navbar-main > .menu-item > a:hover, .navbar-main > .menu-item > a:focus {
  color: #00b3e6;
  background-color: transparent;
  border-bottom: 4px solid rgba(0, 179, 230, 0.5);
}
.navbar-main .open > a, .navbar-main .open > a:hover, .navbar-main .open > a:focus {
  color: #00b3e6;
  background-color: transparent;
  border-bottom: 4px solid rgba(0, 179, 230, 0.5);
}
.navbar-main .dropdown-menu {
  left: 50%;
  margin-left: -135px;
}
.navbar-more {
  float: right;
  padding: 0 25px;
  border-left: 1px solid rgba(119, 119, 122, 0.2);
}
.navbar-more > .menu-item {
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-more > .menu-item > a {
  padding-top: 0;
  padding-bottom: 0;
  color: #77777a;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.15em;
  white-space: nowrap;
}
.navbar-more > .menu-item > a:hover, .navbar-more > .menu-item > a:focus {
  color: #77777a;
  background-color: transparent;
}
.navbar-more .dropdown-menu {
  left: auto;
  right: -25px;
}
.navbar-more .open > a, .navbar-more .open > a:hover, .navbar-more .open > a:focus {
  color: #00b3e6;
  background-color: transparent;
  border-bottom: 4px solid rgba(0, 179, 230, 0.5);
}
.navbar-account {
  float: right;
}
.navbar-account > .menu-item {
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-account > .menu-item > a {
  color: #77777a;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.15em;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.navbar-account > .menu-item > a:hover, .navbar-account > .menu-item > a:focus {
  color: #77777a;
  background-color: transparent;
}
.navbar-account .userpic {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border-radius: 21px;
  background-size: cover;
}
.navbar-footer {
  flex-direction: column;
}
.navbar-footer .menu-item {
  float: none;
  text-align: left;
}
.navbar-footer .menu-item a {
  padding: 0;
  font-family: 'Avenir Next';
  line-height: 28px;
  font-size: 15px;
  font-weight: normal;
  text-decoration-line: underline;
  color: #fff;
}
.navbar-footer .menu-item a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}
.navbar-footer .menu-item .caret {
  display: none;
}
/* Site Footer */
.siteFooter {
  padding-bottom: 110px;
  color: #fff;
  background: #23313b;
}
.siteFooter-title {
  margin-top: 90px;
  margin-bottom: 50px;
  font-family: 'Avenir Next';
  line-height: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.siteFooter-title span {
  display: block;
  width: 64px;
  height: 8px;
  margin: 40px auto 0 auto;
  background: #fff;
}
.siteFooter-subtitle {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Avenir Next';
  font-size: 24px;
  font-weight: bold;
}
.siteFooter-socials {
  margin-bottom: 60px;
  text-align: center;
}
.siteFooter-socials .social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.siteFooter-socials .social-icons a {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0 16px;
  border: 4px solid #fff;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.siteFooter-socials .social-icons a:hover, .siteFooter-socials .social-icons a:focus {
  background-color: #00b3e6;
}
.siteFooter-socials .social-icons a .fa {
  color: #fff;
  font-size: 40px;
  line-height: 58px;
}
.siteFooter-copy {
  margin-top: 90px;
  margin-bottom: 30px;
  font-family: 'Avenir Next';
  line-height: normal;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.siteFooter-link {
  display: block;
  font-family: 'Avenir Next';
  line-height: normal;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.15em;
  color: #fff;
  text-decoration: underline;
}
.siteFooter-link:hover {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}
.siteFooter .wpcf7 {
  margin-top: 25px;
}
@media (min-width: 1440px) {
  .navbar-main {
    padding-left: 75px;
    padding-right: 75px;
  }
  .navbar-more > .menu-item {
    display: block;
  }
  .navbar-more > .menu-item:last-child {
    display: none;
  }
}
@media (max-width: 1440px) {
  .navbar-more > .menu-item {
    display: none;
  }
  .navbar-more > .menu-item:last-child {
    display: block;
  }
}
@media (max-width: 1200px) {
  .navbar-main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-more {
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .navbar > .container {
    flex-direction: column;
  }
  .navbar-header {
    width: 100%;
    border-right: none;
    text-align: center;
  }
  .navbar-brand {
    float: none;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    left: 16px;
    top: 15px;
  }
  .navbar-collapse {
    position: absolute;
    top: 72px;
    left: 50%;
    min-width: 272px;
    margin-left: -136px !important;
    padding: 30px 0;
    border-top: none;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    z-index: 100;
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: flex !important;
    overflow-y: visible;
  }
  .navbar-nav {
    margin-top: 0;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  .navbar-nav .menu-item a {
    display: inline-block;
  }
  .navbar-main {
    padding-bottom: 30px;
  }
  .navbar-main > .menu-item > a {
    padding: 5px;
  }
  .navbar-main > .menu-item > a:hover, .navbar-main > .menu-item > a:focus {
    border-bottom: 2px solid rgba(0, 179, 230, 0.5);
  }
  .navbar-more {
    float: none;
    width: 80px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-left: 0;
    border-top: 1px solid rgba(119, 119, 122, 0.2);
  }
  .navbar-more > .menu-item {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-more > .menu-item a {
    color: #00b3e6;
    font-size: 14px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
  }
  .navbar-more > .menu-item:last-child {
    display: none;
  }
  .navbar-footer {
    margin: 0 0 60px 0;
  }
}
.btn {
  padding: 14px 32px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #23313b;
  border-radius: 0;
  border: 2px solid transparent;
}
.btn-primary {
  color: #fff;
  border-color: #00b3e6;
  background-color: #00b3e6;
}
.btn-secondary {
  border-color: #f5c400;
  background-color: #f5c400;
}
.btn-connected {
  border-color: #00b3e6;
  background-color: #00b3e6;
}
.btn-focused {
  border-color: #b34fc5;
  background-color: #b34fc5;
}
.btn-led {
  border-color: #84be41;
  background-color: #84be41;
}
.btn-demonstrated {
  border-color: #ff6c0c;
  background-color: #ff6c0c;
}
.btn-default.active, .btn-default:active, .btn-default.active:hover, .btn-default.active:focus, .open > .dropdown-toggle.btn-default {
  color: #23313b;
  background-color: #fff;
  border-color: #fff;
}
.btn-group-connected .btn-default {
  border-color: #00b3e6 !important;
}
.btn-group-focused .btn-default {
  border-color: #b34fc5 !important;
}
.btn-group-led .btn-default {
  border-color: #84be41 !important;
}
.btn-group-demonstrated .btn-default {
  border-color: #ff6c0c !important;
}
.btn-group .fa {
  color: #fff;
}
.form-control {
  margin-bottom: 15px;
}
.form-control {
  height: 64px;
  line-height: 64px;
  background-color: transparent;
  border: 2px solid #e4e4e4;
  border-radius: 0px;
  font-family: 'Avenir Next';
  line-height: 42px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
select.form-control {
  font-size: 18px;
  color: #23313b;
  background-color: #fff;
  border: 2px solid #e4e4e4;
  box-shadow: none;
}
.form-group input[type="checkbox"] {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}
.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
.form-group input[type="radio"] {
  display: none;
}
.form-group input[type="radio"] + .btn-group > label span {
  width: 20px;
}
.form-group input[type="radio"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="radio"] + .btn-group > label span:last-child {
  display: inline-block;
}
.form-group input[type="radio"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="radio"]:checked + .btn-group > label span:last-child {
  display: none;
}
.box {
  padding: 42px 48px;
}
.box .box-title {
  font-weight: bold;
  line-height: 32px;
  font-size: 20px;
  color: #fff;
}
.box .box-line {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 64px;
  height: 8px;
  background: #fff;
}
.box.is-primary {
  background: #00b3e6;
}
.box.is-dark {
  background: #23313b;
}
.pageSection-blocks {
  padding-top: 88px;
  padding-bottom: 80px;
  border-bottom: 1px solid #e4e4e4;
}
.pageSection-blocks .container {
  padding-bottom: 0;
}
.pageSection-title {
  padding-top: 80px;
  color: #23313b;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.pageSection-title:after {
  content: '';
  display: block;
  width: 64px;
  height: 8px;
  background: #f5c400 !important;
  margin: 30px auto;
}
.pageSection-cards {
  padding-top: 50px;
  padding-bottom: 120px;
}
.pageSection-cards .container {
  padding-bottom: 0;
  display: flex;
}
.pageBlock {
  display: flex;
  flex-wrap: wrap;
}
.pageBlock-content {
  width: 50%;
  margin-bottom: 60px;
  text-align: left;
}
.pageBlock-title {
  margin: 0;
  color: #23313b;
  font-size: 36px;
  font-weight: bold;
}
.pageBlock-title:after {
  content: '';
  display: block;
  width: 64px;
  height: 8px;
  background: #f5c400;
  margin: 30px 0;
}
.pageBlock-text {
  color: #23313b;
  font-size: 24px;
  line-height: 40px;
}
.pageBlock-image {
  width: 50%;
  margin-bottom: 80px;
}
.pageBlock-footer {
  width: 100%;
}
.pageBlock-footer .btn {
  width: 544px;
  font-size: 24px;
}
.pageBlock-none {
  text-align: center;
}
.pageBlock-none .pageBlock-content {
  width: 100%;
  text-align: center;
}
.pageBlock-none .pageBlock-title:after {
  margin: 30px auto;
}
.pageBlock-left {
  flex-direction: row-reverse;
}
.pageBlock-left .pageBlock-image {
  text-align: left;
}
.pageBlock-right {
  flex-direction: row;
}
.pageBlock-right .pageBlock-image {
  text-align: right;
}
.pageCard {
  display: flex;
  width: 50%;
}
.pageCard-content {
  width: 50%;
  padding: 30px;
  background: #00b3e6;
}
.pageCard-text {
  color: #fff;
  font-weight: bold;
}
.pageCard-button {
  color: #23313b;
  font-weight: bold;
  text-decoration: underline;
}
.accountSection-hero {
  position: relative;
  height: 600px;
  background-size: cover;
}
.accountSection-hero .bg-overlay {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(444.87px at 50% 25.85%, rgba(35, 49, 59, 0) 0%, rgba(35, 49, 59, 0.4) 100%);
  mix-blend-mode: multiply;
  opacity: 0.6;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.accountSection-hero .container {
  height: 100%;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
}
.accountSection-hero .avatar {
  width: 256px;
  height: 256px;
  margin-bottom: 10px;
  border-radius: 128px;
  background-size: cover;
  text-align: center;
  position: relative;
}
.accountSection-hero .avatar a {
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
}
.accountSection-hero .card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-top: 4px solid #00b3e6;
}
.accountSection-hero .card-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 45px;
  color: #fff;
}
.accountSection-hero .card-button {
  height: 64px;
  margin: 30px 0;
}
.accountSection-dashboard {
  padding-bottom: 120px;
}
.accountSection-dashboard .nav-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e4e4e4;
}
.accountSection-dashboard .nav-item {
  max-width: 256px;
  text-align: center;
}
.accountSection-dashboard .nav-item.active {
  margin-bottom: 0;
}
.accountSection-dashboard .nav-item.active a {
  color: #23313b;
  text-decoration: none;
}
.accountSection-dashboard .nav-link {
  height: 120px;
  padding: 40px 30px 30px 30px;
  background: none !important;
  border: none !important;
  border-radius: 0;
  color: #00b3e6;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
.accountSection-dashboard .tab-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.accountSection-dashboard .tab-boxes {
  display: flex;
  flex-wrap: wrap;
}
.accountSection-dashboard .tab-boxes .item {
  width: 33%;
  padding-right: 32px;
  margin-bottom: 32px;
}
.accountSection-dashboard .tab-boxes .item:nth-child(3), .accountSection-dashboard .tab-boxes .item:nth-child(6) .accountSection-dashboard .tab-boxes .item:nth-child(9) {
  padding-right: 0;
}
.accountSection-dashboard .tab-pane .card-title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 60px;
  font-size: 36px;
  text-align: center;
}
.accountSection-dashboard .tab-pane .card-content {
  max-width: 544px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 24px;
}
.accountSection-dashboard .tab-pane .card-button {
  margin-top: 60px;
  margin-bottom: 120px;
  text-align: center;
}
.accountSection-dashboard .tab-pane .card-button a {
  width: 544px;
}
.accountSection-dashboard .form-group {
  display: flex;
}
.accountSection-dashboard .form-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.accountSection-dashboard .form-label {
  width: 25%;
  margin-bottom: 15px;
  line-height: 64px;
  color: #00b3e6;
}
.accountSection-dashboard .form-control {
  width: 544px;
  color: #23313b;
  font-size: 18px;
  text-align: left;
}
.accountSection-dashboard .form .btn-group {
  width: 544px;
  display: flex;
}
.accountSection-dashboard .form .btn-group label:last-child {
  flex: 1;
}
.resourceSection {
  font-weight: bold;
}
.resourceSection-video {
  position: relative;
  background-size: cover;
}
.resourceSection-video.is-transparent {
  background-image: none !important;
}
.resourceSection-video .card-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: -1;
}
.resourceSection-video .card-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 80px;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 100;
}
.resourceSection-video .card-btn:hover, .resourceSection-video .card-btn:focus {
  opacity: 1;
}
.resourceSection-video .card-btn.is-hidden {
  opacity: 0;
}
.resourceSection-video .card-btn .fa {
  color: #fff;
  font-size: 88px;
  text-align: center;
}
.resourceSection-video .card-btn .fa-play {
  margin-left: 20px;
}
.resourceSection-video .card-btn.is-connected .card-btn {
  background-color: #00b3e6;
}
.resourceSection-video .card-btn.is-focused .card-btn {
  background-color: #b34fc5;
}
.resourceSection-video .card-btn.is-led .card-btn {
  background-color: #84be41;
}
.resourceSection-video .card-btn.is-demonstrated .card-btn {
  background-color: #ff6c0c;
}
.resourceSection-description {
  padding-top: 80px;
  padding-bottom: 100px;
}
.resourceSection-description .container {
  padding-bottom: 0;
}
.resourceSection-description .card-head {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  border-top: 4px solid transparent;
}
.resourceSection-description .card-head.is-hidden {
  display: none;
}
.resourceSection-description .card-head .card-meta {
  float: right;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
}
.resourceSection-description .card-head .card-title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 60px;
  font-size: 45px;
  color: #fff;
}
.resourceSection-description .card-head .card-subtitle {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 45px;
  color: #fff;
}
.resourceSection-description .card-desc .card-content {
  line-height: 60px;
  font-size: 36px;
  color: #fff;
}
.resourceSection-description.is-connected {
  background-color: #00b3e6;
}
.resourceSection-description.is-connected .card {
  border-color: #00b3e6;
}
.resourceSection-description.is-connected .card-meta {
  background-color: #00b3e6;
}
.resourceSection-description.is-focused {
  background-color: #b34fc5;
}
.resourceSection-description.is-focused .card {
  border-color: #b34fc5;
}
.resourceSection-description.is-focused .card-meta {
  background-color: #b34fc5;
}
.resourceSection-description.is-led {
  background-color: #84be41;
}
.resourceSection-description.is-led .card {
  border-color: #84be41;
}
.resourceSection-description.is-led .card-meta {
  background-color: #84be41;
}
.resourceSection-description.is-demonstrated {
  background-color: #ff6c0c;
}
.resourceSection-description.is-demonstrated .card {
  border-color: #ff6c0c;
}
.resourceSection-description.is-demonstrated .card-meta {
  background-color: #ff6c0c;
}
.resourceSection-reviews {
  padding: 80px 0;
}
.resourceSection-reviews .resourceSection-title {
  font-weight: bold;
  line-height: 48px;
  font-size: 36px;
  text-align: center;
}
.resourceSection-reviews .resourceSection-line {
  margin: 30px auto 40px auto;
  width: 64px;
  height: 8px;
  background: #f5c400;
}
.resourceSection-statistic {
  padding-top: 75px;
  padding-bottom: 75px;
}
.resourceSection-statistic .card {
  line-height: 48px;
  font-weight: bold;
  text-align: center;
}
.resourceSection-statistic .card-title {
  font-size: 36px;
}
.resourceSection-statistic .card-subtitle {
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 40px;
}
.resourceSection-statistic .card-content {
  font-size: 24px;
  margin-bottom: 30px;
}
.resourceSection-statistic .card-square {
  display: flex;
  justify-content: space-around;
  max-width: 740px;
  margin: 0 auto;
  padding: 50px 90px;
  border: 8px solid #fff;
  text-align: left;
}
.resourceSection-statistic .card-square ul {
  padding-left: 0;
  list-style: none;
}
.resourceSection-statistic .card-square ul li {
  font-size: 28px;
  line-height: 42px;
}
.resourceSection-statistic .card-footer {
  font-size: 12px;
}
.resourceSection-steps {
  padding-top: 80px;
}
.resourceSection-steps .resourceSection-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
}
.resourceSection-steps .resourceSection-line {
  width: 64px;
  height: 8px;
  margin: 30px auto;
  background: #f5c400;
}
.resourceSection-footer .form-section {
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.resourceSection-footer .form-section .container {
  display: flex;
  padding-bottom: 0;
}
.resourceSection-footer .form-title {
  width: 60%;
  font-size: 36px;
  line-height: 48px;
}
.resourceSection-footer .form-content {
  width: 40%;
  text-align: right;
}
.resourceSection-footer .form-label {
  display: inline-block;
  line-height: 64px;
  text-transform: uppercase;
}
.resourceSection-footer .form-icon {
  float: right;
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 16px;
  border: 4px solid #23313b;
  text-align: center;
}
.resourceSection-footer .form-icon .fa {
  color: #23313b;
  font-size: 40px;
  line-height: 58px;
}
.resourceSection-footer .form-icon:hover, .resourceSection-footer .form-icon:focus {
  background: #00b3e6;
}
.resourceSection-footer .form-icon:hover .fa, .resourceSection-footer .form-icon:focus .fa {
  color: #fff;
}
.resourceSection-footer .form-download {
  padding: 80px 0;
}
.resourceSection-footer .form-download .form-title {
  font-size: 36px;
  line-height: 64px;
}
.resourceSection-footer .form-download .form-label {
  line-height: 64px;
}
.resourceSection-footer .nav-single {
  width: 100%;
  display: flex;
}
.resourceSection-footer .nav-arrow a {
  display: block;
  line-height: 64px;
  color: #00b3e6;
  text-decoration: none;
  transition: all 0.5s ease;
}
.resourceSection-footer .nav-arrow a div {
  width: 64px;
  height: 64px;
  background: #00b3e6;
  transition: all 0.5s ease;
}
.resourceSection-footer .nav-arrow a:hover, .resourceSection-footer .nav-arrow a:focus {
  color: #fff;
  background: #00b3e6;
}
.resourceSection-footer .nav-arrow a:hover div, .resourceSection-footer .nav-arrow a:focus div {
  background: #23313b;
}
.resourceSection-footer .nav-left {
  width: 30%;
}
.resourceSection-footer .nav-left div {
  float: left;
  margin-right: 15px;
}
.resourceSection-footer .nav-right {
  width: 30%;
  text-align: right;
}
.resourceSection-footer .nav-right div {
  float: right;
  margin-left: 15px;
}
.resourceSection-footer .nav-title {
  width: 40%;
  text-align: center;
  font-size: 15px;
  line-height: 64px;
}
.resourceSection-hero {
  position: relative;
  height: 600px;
  background-size: cover;
}
.resourceSection-hero .bg-overlay {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(444.87px at 50% 25.85%, rgba(35, 49, 59, 0) 0%, rgba(35, 49, 59, 0.4) 100%);
  mix-blend-mode: multiply;
  opacity: 0.6;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.resourceSection-hero .container {
  height: 100%;
}
.resourceSection-hero .card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #00b3e6;
}
.resourceSection-hero .card-title {
  margin: 30px 0;
  font-weight: bold;
  line-height: 60px;
  font-size: 45px;
  color: #fff;
}
.resourceSection-filter {
  padding: 30px 0;
}
.resourceSection-filter .filter-text {
  padding-top: 30px;
  padding-bottom: 80px;
  font-weight: bold;
  line-height: 60px;
  font-size: 36px;
  color: #23313b;
}
.resourceSection-filter .filter-title {
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 20px;
  font-size: 28px;
}
.resourceSection-filter .btn-group label:first-child {
  width: 64px;
}
.resourceSection-filter .btn-group label:last-child {
  width: 283px;
}
.resourceSection-filter .filter-select {
  width: 350px;
}
.reviewItem {
  display: flex;
}
.reviewItem-image {
  margin-right: 30px;
  width: 160px;
  height: 160px;
  background-size: cover;
}
.reviewItem-image .blank {
  height: 100%;
  background: #c4c4c4;
}
.reviewItem-content {
  margin-bottom: 50px;
  font-weight: normal;
  line-height: 42px;
  font-size: 24px;
}
.reviewItem-author {
  font-size: 24px;
}
.reviewItem-position {
  margin-bottom: 100px;
  font-size: 24px;
  font-weight: normal;
}
.stepItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.stepItem .container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 40px 0;
}
.stepItem-category {
  width: 100%;
  padding-left: 19%;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.stepItem-category.is-connected {
  color: #00b3e6;
}
.stepItem-category.is-focused {
  color: #b34fc5;
}
.stepItem-category.is-led {
  color: #84be41;
}
.stepItem-category.is-demonstrated {
  color: #ff6c0c;
}
.stepItem-label {
  display: inline-block;
  width: 19%;
  font-size: 24px;
}
.stepItem-content {
  width: 80%;
  display: inline-block;
  font-weight: normal;
  line-height: 48px;
  font-size: 24px;
}
.resourceCard {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.resourceCard:first-child {
  padding-top: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.resourceCard .container {
  display: flex;
}
.resourceCard-content {
  width: 50%;
  padding-right: 33px;
}
.resourceCard-content .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resourceCard-media {
  width: 50%;
  min-height: 356px;
  position: relative;
}
.resourceCard.is-connected .card-meta {
  color: #00b3e6;
}
.resourceCard.is-connected .card-bgcolor {
  background: #00b3e6;
}
.resourceCard.is-focused .card-meta {
  color: #b34fc5;
}
.resourceCard.is-focused .card-bgcolor {
  background: #b34fc5;
}
.resourceCard.is-led .card-meta {
  color: #84be41;
}
.resourceCard.is-led .card-bgcolor {
  background: #84be41;
}
.resourceCard.is-demonstrated .card-meta {
  color: #ff6c0c;
}
.resourceCard.is-demonstrated .card-bgcolor {
  background: #ff6c0c;
}
.resourceCard .card {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.resourceCard .card-meta {
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.resourceCard .card-title {
  margin: 0;
  font-weight: bold;
  line-height: 32px;
  font-size: 28px;
  color: #23313b;
}
.resourceCard .card-title .post-edit-link {
  text-decoration: none !important;
}
.resourceCard .card-desc {
  max-height: 96px;
  margin-bottom: 80px;
  line-height: 32px;
  font-size: 16px;
  color: #23313b;
  overflow: hidden;
}
.resourceCard .card-btn {
  display: block;
  height: 64px;
  font-weight: bold;
  line-height: 64px;
  font-size: 18px;
  text-align: center;
  color: #23313b;
  background-color: #f5c400;
}
.resourceCard .card-btn:hover, .resourceCard .card-btn:focus {
  color: #23313b;
  text-decoration: none;
}
.resourceCard .card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.resourceCard .card-bgcolor {
  width: 100%;
  height: 100%;
}
.resourceCard .card-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 64px;
  display: flex;
  z-index: 99;
  background: linear-gradient(180deg, rgba(35, 49, 59, 0) 0%, #23313b 100%);
  opacity: 0.9;
}
.resourceCard .card-footer .item {
  position: relative;
  display: block;
  width: 50%;
  height: 64px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.resourceCard .card-footer .item i {
  display: block;
  padding-top: 12px;
  margin-bottom: 5px;
  font-size: 18px;
}
.resourceCard .card-footer .item span {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.resourceCard .card-footer .item:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 48px;
  margin: 8px 0;
  background: #fff;
}
.resourceCard .card-footer.is-fullheight {
  height: 100%;
  padding: 32px 0;
  background: none;
}
.resourceCard .card-footer.is-fullheight a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resourceCard .card-footer.is-fullheight a:first-child:after {
  position: absolute;
  top: 0;
  height: 100%;
  margin: 0;
}
#videoPlay.is-fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#videoPlay.is-connected {
  background-color: #00b3e6;
}
#videoPlay.is-focused {
  background-color: #b34fc5;
}
#videoPlay.is-led {
  background-color: #84be41;
}
#videoPlay.is-demonstrated {
  background-color: #ff6c0c;
}
.fullsize-video-bg {
  height: 100%;
  overflow: hidden;
}
.fullsize-video-bg:before {
  content: "";
  background: rgba(114, 45, 0, .35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.fullsize-video-bg:after {
  background-size: 3px 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.fullsize-video-bg .inner {
  display: table;
  width: 100%;
  max-width: 24em;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}
.fullsize-video-bg.inner > div {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2em;
}
.mejs-container {
  min-height: 356px;
}
.mejs-offscreen {
  display: none !important;
}
.mejs-controls {
  display: none !important;
}
@media (min-width: 1600px) {
  .resourceSection-hero, .resourceSection-video {
    min-height: 827px;
  }
}
@media (min-width: 1280px) {
  .resourceSection-hero, .resourceSection-video {
    min-height: 827px;
  }
}
@media (min-width: 1024px) {
  .resourceSection-hero, .resourceSection-video {
    min-height: 627px;
  }
  .card-video video {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .resourceSection-hero, .resourceSection-video {
    min-height: 44vw;
  }
  .card-video video {
    width: 100%;
    height: 100%;
  }
  .resourceSection-description .card-head {
    position: relative;
    top: 0;
  }
  .resourceSection-description .card-category {
    float: left;
  }
  .resource-three .card .square {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .resource-three .card .square, .resource-four .card .step {
    flex-direction: column;
  }
}
.ui-dialog {
  z-index: 1001 !important;
}
/* Login Form */
.login form {
  margin-top: 20px;
  margin-left: 0;
  padding: 26px 24px 46px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}
.login form .forgetmenot {
  font-weight: 400;
  float: left;
  margin-bottom: 0;
}
.login .button-primary {
  float: right;
}
#login form p {
  margin-bottom: 0;
}
#login form p.submit {
  margin: 0;
  padding: 0;
}
.login label {
  color: #72777c;
  font-size: 14px;
}
.login form .forgetmenot label {
  font-size: 12px;
  line-height: 19px;
}
#login {
  width: 320px;
  padding: 8% 0 0;
  margin: auto;
}
.login #backtoblog, .login #nav {
  font-size: 13px;
  padding: 0 24px;
}
.login #nav {
  margin: 24px 0 0;
}
.login form .input, .login input[type=text] {
  font-size: 24px;
  width: 100%;
  padding: 3px;
  margin: 2px 6px 16px 0;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  transition: 50ms border-color ease-in-out;
}
/*# sourceMappingURL=theme.css.map */