


.admin-bar {
  .site-header {
    top: 32px;
  }
}


.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;

  & > .container {
    width: auto;
    max-width: none;
    padding: 0;
    padding: 8px 20px 16px 20px;
  }
}

.site-header-logo {
  // padding: 8px 20px 16px 20px;
  padding-top: 0.8rem;
  padding-bottom: 1.6rem;
  text-align: center;
  border-bottom: 1px solid rgba($white, 0.2);
}

.site-header-link {

}
