

// html, body {
//   height: 100%;
// }

body {
  font-family: $family-primary;
  background-color: $white;
  color: $text;
}

html {
  font-size: 62.5%;
}

body.admin-bar {

  .navbar-fixed-top {
    top: 32px;
  }

}
