

// Brand Colors
$primary:       #00B3E6;
$secondary:     #F5C400;
$demonstrated:  #FF6C0C;
$connected:     #00B3E6;
$focused:       #B34FC5;
$led:           #84BE41;
$text:          #23313B;
$grey:          #E4E4E4;
$gray:          #77777A;
$white:         #FFFFFF;
$black:         #000000;




// Typography
// $family-primary:  'Avenir Next', sans-serif;
$family-primary:  'IBM Plex Sans', sans-serif;
